<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>

<body>
    <h1>Delete</h1>
    <div>
        <h2>Seleccionar por ID</h2>
        <form action="/delete_id" method="post">
            <label for="id_id">ID</label>
            <input type="number" name="id" id="id_id" placeholder="ID">
            <button type="submit">submit</button>
        </form>
    </div>
    <div>
        <h2>Seleccionar por nombre de usuario</h2>
        <form action="/delete_user" method="post">
            <label for="id_user">Username</label>
            <input type="text" name="user" id="id_user" placeholder="Username">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <br><br>
        <a href="/"><button>back</button></a>
    </div>
</body>

</html>