<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
</head>
<body>
    <h1>Añadir</h1>
    <form action="/post" method="post">
        <label for="id_user">Nombre</label>
        <input type="text" name="user" id="id_user" placeholder="nombre">
        <label for="id_username">Nombre de usuario</label>
        <input type="text" name="username" id="id_username" placeholder="Nombre de usuario">
        <label for="id_region"> Region </label>
        <input type="text" name="region" id="id_region" placeholder="Ej: Colombia">
        <button type="submit">submit</button>
    </form>
    <br><br>
    <a href="/"><button>Back</button></a>
</body>
</html>